{% assign author = site.contacts | where: 'name', page.author | first %}

<div>
    <p class="text-muted">{{ page.date | date_to_string }} | Posted by 
            {% assign id = page.author | replace: ' ','-' | downcase %}
            {% if author.primary == true %}
                {% assign url = '../about#' | append: id %}
            {% else %}
                {% assign url = '../about' %}
            {% endif %}
            <a href="{{ url }}">{{ author.name }}</a>
    </p>
</div>