<!-- Feel free to remove this div. Uses purplecoat: http://ellekasai.github.io/purplecoat.js -->
<div id="sidebar">
  <div>
    <h3>Our Good Tweets</h3>
    <p>
      <div>
        <a class="twitter-timeline" data-width="400" data-height="550" data-theme="dark" data-link-color="#F5F8FA" href="https://twitter.com/SunshineDevs?ref_src=twsrc%5Etfw">Tweets by Sunshine Committee</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </p>
  </div>

  <div class="sidebar-div">
    <h3>Contact</h3>
    <table>
      <tbody>
        <tr>
          <td><i class="fa fa-twitter fa-lg"></td>
          <td><a href="https://twitter.com/SunshineDevs">@SunshineDevs</a></td>
        </tr>
        <tr>
          <td><i class="fa fa-envelope fa-lg"></td>
          <td><a href="mailto:devs@sunshinecommitee.io">devs@sunshinecommittee.io</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--<h3>About Us</h3>
  <p>
  <table>
    <tbody>
      <tr>
        <td><img src="https://pbs.twimg.com/profile_images/660827265266278400/id_bBY4Z_400x400.png" style="height: 96px; width: 96px;"></td>
        <td><b>Tom Farro</b> is some kind of clown or something, but we're really not quite sure.</td>
      </tr>
      <tr>
        <td><img src="https://pbs.twimg.com/profile_images/660827265266278400/id_bBY4Z_400x400.png" style="height: 96px; width: 96px;"></td>
        <td><b>Tom Farro</b> is some kind of clown or something, but we're really not quite sure.</td>
      </tr>
    </tbody>
  </table>
  </p>-->
</div>
<!--<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <h3 class="section-header">
    Get Shiori
  </h3>

  <p><a href="https://github.com/ellekasai/shiori" target="_blank" class="btn btn-primary"><i class="fa fa-github fa-lg"></i> View on GitHub &rarr;</a></p>

  <h3>
    Author
  </h3>

  <p>
    <div class="media">
      <h4 class="media-heading">Elle Kasai</h4>
      <div class="media-body">
        <img src="https://avatars0.githubusercontent.com/u/2410692?v=2&s=100" alt="Elle Kasai">
      </div>
    </div>
  </p>
</div>

<h3>
  Shiori is Customizable!
</h3>

<p><button data-purplecoat-toggle="shiori" class="btn btn-default"><i class="fa fa-toggle-on"></i> Toggle Customizable Sections</button></p>

<p>&uarr; Powered by <a href="http://ellekasai.github.io/purplecoat.js" target="_blank">Purplecoat</a>.</p>-->
