<div>
    <h3>{{ page.name }}</h3>
    <div class="flex-row">
        <div class="col col-sm-12 col-md-3 contact-avatar"><img src= {{ page.avatar }}></div>
        <div class="col col-sm-12 col-md-9">
            {{ page.bio }}
            <div>
                <div class="contact-info">
                    {% assign twitter_url = 'https://twitter.com/' | append: page.twitter %}
                    <span class="fa fa-twitter fa-lg"></span> <a target="_blank" href= {{ twitter_url }}>@{{ page.twitter }}</a>
                </div>
                <div class="contact-info">
                    <span class="fa fa-external-link fa-lg"></span> <a target="_blank" href= {{ contact.website }} >{{ page.website }}</a>
                </div>
            </div>
        </div>
    </div>
</div>