---
layout: default-no-sidebar
---

<div class="post-header">
    <div class="game-logo">
        <img src= "{{ page.logo }}" />
        {% assign press = site.press | where: "title", page.title | first %}
        {% if press %}
          <span>(<a href="{{ press.url | prepend:site.baseurl}}">press kit</a>)</span>
        {% endif %}
    </div>
  <!-- <h1 class="post-title-main">{{ page.title }}</h1>
  {% include post-header.html %} -->
</div>
<div class="post-content">
  {{ content }}
</div>
<div>
  <hr>
  <h3 id="gallery">Gallery</h3>
  {% assign gallery = site.galleries | where: "gallery_tag", page.gallery_tag | first %}
  {{ gallery }}
</div>
<hr>
  <div class="home-read-more">
    <a href="{{ "/games" | prepend:site.baseurl }}" class="btn btn-primary btn-block btn-lg">← Back to All Games</a>
  </div>
</hr>